.contenedor {
	width: 800px;
	height: 500px;
	margin: 0 auto;
}
.left {
	float: left;
	width: 50%;
	height: 100%;
}
.right {
	float: right;
	width: 50%;
	height: 100%;
}
.contenedor div {
	text-align: center;
	border-radius: 25px;
}

.left div {
	height: 50%;
	line-height: 150px;
}
.right div {
	height: 25%;
	color: white;
	line-height: 50px;
}
.div1 {
	background-color: red;
}
.div2 {
	background-color: blue;
}
.div3 {
	background-color: blue;
}
.div4 {
	background-color: yellow;
}
.div5 {
	background-color: red;
}
.div6 {
	background-color: black;
}
