/* your code here */

/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	margin: 0.7%;
}

header {
	padding: 20px 0;
	display: block;
}

nav,
section {
	padding: 150px 0;
	display: inline-block;
}
.wrapper {
	margin: 10px;
}
nav {
	float: left;
	width: 20%;
}
section {
	float: right;
	width: 77%;
}
