.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	height: 60px;
	background: #ededef;
	font-size: 48px;
	text-align: center;
	color: #000;

	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*agujero calendario*/
.calendar:before,
.calendar:after {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}
.calendar:before {
	top: 6px;
	left: 11px;
}
.calendar:after {
	top: 6px;
	right: 11px;
}

/*anillo calendario*/
.calendar em:before,
.calendar em:after {
	content: "";
	float: left;
	width: 4px;
	height: 14px;
	background: gray;
	z-index: 2;

	border-radius: 15px;
	position: absolute;
}
.calendar em:before {
	top: -3px;
	left: 13px;
}
.calendar em:after {
	top: -3px;
	right: 13px;
}
